$black: #000000;
$white: #ffffff;
$red: #E94F4F;
$volcano: #fa541c;
$orange: #fa8c16;
$gold: #faad14;
$yellow: #fadb14;
$lime: #a0d911;
$green: #52c41a;
$cyan: #13c2c2;
$blue: #108ee9; 
$geekblue: #2f54eb;
$purple: #722ed1;
$magenta: #eb2f96;
$gray: #bfbfbf;


